# Environment variables
.env
.env.*

# Databases
*.db
*.sqlite3

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# OS / IDE junk
.DS_Store
.idea/
.vscode/

# Accidental junk
-d
-e
-p
